<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <%- include('./common/imports') %> 
    <style>
        .container {
            padding: 0px 50px;
            margin-top: 40px;
        }
        .row:not(:first-child) {
            margin-top: 25px;
        }
        .profile-box {
            margin-top: 30px;
            height: 60px;
        }
        .profile {
            width: 60px;
            float: left;
            margin-right: 10px;
        }
        .profile img {
            width: 100%;
        }
        .profile-info {
            width: auto;
        }
        .name {
            height: 30px;
            line-height: 30px;
            font-weight: bold;
            font-size: 13pt;
        }
        .assets {
            height: 30px;
            line-height: 30px;
            font-size: 11pt;
        }
        .assets .assets-text {
            color: #9a9a9a;
        }

        .sub-title {
            font-weight: bold;
            font-size: 14pt;
        }
        .card-count {
            color: #9a9a9a;
        }
        #card-swiper {
            margin-top: 10px;
            font-weight: bold;
            font-size: 13pt;
        }
        #card-swiper .swiper-slide {
            height: 150px;
            background-color: #f3f3f3;
            border-radius: 10px;
            padding: 10px 20px;
        }

        .finpluencer-profile-box {
            margin-top: 30px;
            height: 60px;
            position: relative;
        }
        .finpluencer-profile {
            width: 60px;
            float: left;
            margin-right: 10px;
        }
        .finpluencer-profile img {
            width: 100%;
        }
        .finpluencer-profile-info {
            width: calc(100% - 60px);
            margin-left: auto;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #ddd;
        }
        .finpluencer-name {
            height: 20px;
            line-height: 20px;
            font-weight: bold;
            font-size: 10pt;
        }
        .finpluencer-follower {
            height: 20px;
            line-height: 20px;
            font-size: 9pt;
        }
        .finpluencer-follower .follower-text {
            color: #9a9a9a;
        }
        .finpluencer-recipe {
            height: 20px;
            line-height: 20px;
            font-size: 9pt;
        }
        .finpluencer-recipe .recipe-text {
            color: #9a9a9a;
        }
        .finpluencer-rate {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-15px);
            color: #ffe100;
            font-weight: bold;
        }
    </style>
    <script>
        $(document).ready(function () {
            var cardSwiper = new Swiper("#card-swiper", {
                height: 150,
                width: 250,
                spaceBetween: 10,
                loop: false,
                freeMode: true
            })

            // 목표카드 저장
            $("button[data-role=save]").click(function() {
                var reg = /^[0-9]*$/
                var data = {}
                var cardTitle = $("input[name=cardTitle]").val()
                var cardTargetMoney = $("input[name=cardTargetMoney]").val()
                var cardCurrentMoney = $("input[name=cardCurrentMoney]").val()

                if(isBlank(cardTitle)) {
                    alert("목표를 입력해주세요.")
                    return false
                }
                if(cardTitle.length > 10) {
                    alert('목표는 10자 이내로 입력해주세요.')
                    return false
                }
                if(isBlank(cardTargetMoney)) {
                    alert("목표 금액을 입력해주세요.")
                    return false
                }
                if((!reg.test(cardTargetMoney)) || cardTargetMoney.length > 15) {
                    alert("목표 금액은 숫자 15자까지 입력해주세요.")
                    return false
                }
                if(isBlank(cardCurrentMoney)) {
                    alert("현재 금액을 입력해주세요.")
                    return false
                }
                if((!reg.test(cardCurrentMoney)) || cardCurrentMoney.length > 15) {
                    alert("현재 금액은 숫자 15자까지 입력해주세요.")
                    return false
                }

                data.cardTitle = cardTitle
                data.cardTargetMoney = cardTargetMoney
                data.cardCurrentMoney = cardCurrentMoney

                $.ajax({
                    url: '/target-card/insert',
                    type: 'POST',
                    data: data,
                    success: function(d) {
                        alert(d.msg)
                        if(d.result) {
                            location.reload()
                        }
                    }
                })
            })
        })
    </script>
</head>
<body>
    <%- include('./common/header') %> 
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <div class="profile-box">
                    <% if (isLoggedin) { %>
                        <div class="profile">
                            <img src="<%= sessionUserInfo.USER_PROFILE_IMG %>" alt="" onerror="javascript:this.src='/resources/images/no-image.png'">
                        </div>
                        <div class="profile-info">
                            <div class="name">
                                <%= sessionUserInfo.USER_NAME %> 
                            </div>
                            <div class="assets">
                                <span class="assets-text">자산</span>
                                <span class="assets-total"><%= (sessionUserInfo.USER_ASSETS != null ? sessionUserInfo.USER_ASSETS.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") : '-') %></span>
                            </div>
                        </div>
                    <% } else { %>
                        <div class="profile">
                            <img src="/resources/images/no-image.png" alt="">
                        </div>
                        <div class="profile-info">
                            <div class="name">
                                로그인 필요
                            </div>
                            <div class="assets">
                                <span class="assets-text">자산</span>
                                <span class="assets-total">-</span>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="sub-title">
                목표카드 <span class="card-count"><%=(targetCardList == null ? 0 : targetCardList.length)%>개</span>
            </div>
            <div class="col-12">
                <div class="swiper-container" id="card-swiper">
                    <div class="swiper-wrapper">
                        <% if(targetCardList != null) { %>
                            <% targetCardList.forEach(row => { %>
                                <div class="swiper-slide">
                                    <%=row.CARD_TITLE%>
                                </div>
                            <% }) %>
                        <% } %>
                        <div class="swiper-slide">
                            <span data-target="#target-card-modal" data-toggle="modal">목표카드 추가 <i class="fas fa-plus"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="sub-title">
                핀플루언서
            </div>
            <div class="col-12 finpluencer-item">
                <div class="finpluencer-profile-box">
                    <div class="finpluencer-profile">
                        <img src="/resources/images/no-image.png" alt="">
                    </div>
                    <div class="finpluencer-profile-info">
                        <div class="finpluencer-name">
                            문다운
                        </div>
                        <div class="finpluencer-follower">
                            <span class="follower-text">팔로워</span>
                            <span class="follower-total">100만</span>
                        </div>
                        <div class="finpluencer-recipe">
                            <span class="recipe-text">레시피</span>
                            <span class="recipe-total">110</span>
                        </div>
                    </div>
                    <div class="finpluencer-rate">
                        +50.5%
                    </div>
                </div>
            </div>
            <div class="col-12 finpluencer-item">
                <div class="finpluencer-profile-box">
                    <div class="finpluencer-profile">
                        <img src="/resources/images/no-image.png" alt="">
                    </div>
                    <div class="finpluencer-profile-info">
                        <div class="finpluencer-name">
                            문다운
                        </div>
                        <div class="finpluencer-follower">
                            <span class="follower-text">팔로워</span>
                            <span class="follower-total">100만</span>
                        </div>
                        <div class="finpluencer-recipe">
                            <span class="recipe-text">레시피</span>
                            <span class="recipe-total">110</span>
                        </div>
                    </div>
                    <div class="finpluencer-rate">
                        +50.5%
                    </div>
                </div>
            </div>
            <div class="col-12 finpluencer-item">
                <div class="finpluencer-profile-box">
                    <div class="finpluencer-profile">
                        <img src="/resources/images/no-image.png" alt="">
                    </div>
                    <div class="finpluencer-profile-info">
                        <div class="finpluencer-name">
                            문다운
                        </div>
                        <div class="finpluencer-follower">
                            <span class="follower-text">팔로워</span>
                            <span class="follower-total">100만</span>
                        </div>
                        <div class="finpluencer-recipe">
                            <span class="recipe-text">레시피</span>
                            <span class="recipe-total">110</span>
                        </div>
                    </div>
                    <div class="finpluencer-rate">
                        +50.5%
                    </div>
                </div>
            </div>
            <div class="col-12 finpluencer-item">
                <div class="finpluencer-profile-box">
                    <div class="finpluencer-profile">
                        <img src="/resources/images/no-image.png" alt="">
                    </div>
                    <div class="finpluencer-profile-info">
                        <div class="finpluencer-name">
                            문다운
                        </div>
                        <div class="finpluencer-follower">
                            <span class="follower-text">팔로워</span>
                            <span class="follower-total">100만</span>
                        </div>
                        <div class="finpluencer-recipe">
                            <span class="recipe-text">레시피</span>
                            <span class="recipe-total">110</span>
                        </div>
                    </div>
                    <div class="finpluencer-rate">
                        +50.5%
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="target-card-modal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">목표카드 추가</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="card1">목표</label>
                        <input type="text" name="cardTitle" id="card1" class="form-control" placeholder="최대 10자까지 입력가능">
                    </div>
                    <div class="form-group">
                        <label for="card2">목표금액</label>
                        <input type="text" name="cardTargetMoney" id="card2" class="form-control" placeholder="숫자 15자 까지 입력가능">
                    </div>
                    <div class="form-group">
                        <label for="card3">현재금액</label>
                        <input type="text" name="cardCurrentMoney" id="card3" class="form-control" placeholder="숫자 15자 까지 입력가능">
                    </div>
                </div>
                <div class="modal-footer text-right">
                    <button type="button" class="btn btn-sm btn-success" data-role=save>저장</button>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <%- include('./common/footer') %> 
</body>
</html>